html{
    font-size: 20px;
}

body{
    font-size: 1rem;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
        max-width: 1903px;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000000;
}

h1{
}

h2{
    font-weight: 1200;
    font-size: 30px;
    margin: 25px 0;
}

h3{
    font-size: 24px;
    margin: 0;
}

h4{
    margin: .4rem 0 .4rem 0;
}

ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

button{
    outline: none;
    background-color: transparent;
    border: none;
}

section{
    margin: 2rem 0;
}

/************************        헤더영역            *****************************************/

header{
    position: fixed;
    top: 0;
    right: 0;
    transition: 300ms;
    cursor: default;
    width: 100%;
    z-index: 1;
}

header:hover {
    background-color: white;
}

.header_container {
    max-width: 85.6rem;
    min-width: 70.5rem;
    height: 4.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/*------------------------ 로고---------------------- */

.logo{
    position: relative;
}

.logo_red{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

header:hover .logo_red {
    opacity: 1;
}
header:hover .logo_white {
    opacity: 0;
}

.logo a img{
    width: 6.5rem;
    height: 2rem;
}
.logo a{
    height: 100%;
    line-height: 100%;
    padding: 1.25rem 0 0 0;
    margin: 0 1.75rem 0 0; 
}

/*----------------- 로고------------------ */


/*------------------- 레프트 헤더 네비게이션----------------------- */
.left_header{
    display: flex;
    align-items: center;
}


.left_header nav{
    height: 100%;
}

.left_header nav ul{
    height: 100%;
}

.top_menu{
    color:#fff;
    display: inline-block;
    height: 100%;
    padding: 1.8rem 1.25rem 1.8rem 1.25rem;
    cursor: pointer; 
}

.top_menu h1{
    position: relative;
    font-size: .75rem;
    font-weight: 550;
}


header:hover .top_menu h1{
    color: black;
}

.top_menu h1::after{
    content: '';
    position: absolute;
    background: #000000;
    width: 100%;
    height: 0.15rem;
    left: 0;
    top: 2.61rem;
    transform: scale(0 , 1);
    transform-origin: bottom left;
    transition: transform 300ms ease;
}

.top_menu:hover h1::after {
    transform: scale(1 , 1);
}

/* 네비 다운메뉴 부분 */
.menu_content{
    background-color: #ffffff;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
    align-content: center;
    cursor: default;
    opacity: 0;
    visibility: hidden;
    transition: 250ms ease-out;
    border-top: 1px solid gainsboro;
}

.top_menu.women:hover .menu_content.women,
.top_menu.men:hover .menu_content.men,
.top_menu.collabo:hover .menu_content.collabo,
.top_menu.kids:hover .menu_content.kids,
.top_menu.community:hover .menu_content.community{
    opacity: 1;
    visibility: visible;    
}

.content_container{ 
    display: flex;
    justify-content: space-between;
    width: 66rem;
    margin: 0 auto;
    padding: 2.5rem 0 0 0;
}

/* 다운 메뉴 텍스트 파트 */
.container_list{
    display: flex;
    padding: 0 0 1.75rem 0;
}

.container_list ul li{
    font-size: .7rem;
}

.container_list ul:first-child li {
    color: #1a1a1a;
    padding: .5rem 6.5rem .5rem 0;
}

.container_list ul:first-child li a {
    padding: .4rem 1rem .4rem 0
}

.container_list ul:nth-child(n+2) li{
    padding: .4rem 0 .4rem 3rem;
}

.container_list ul:nth-child(n+2) li a{
    color: #828282;
    padding: .4rem 1rem .4rem 0;
    width: 100%;
}

.container_list ul:nth-child(n+2) li a span{
    color:#000;
}

.container_list ul:nth-child(2) li{
    border-left: 1px solid #e5e5e5;
}

    /* 커뮤니티  다운메뉴 텍스트 파트*/
.community_container_list{
    position: relative;
    display: flex;
    padding: 0 6rem 1.75rem 0;
}

.community_container_list ul li{
    font-size: 0.7rem;
    color: #1a1a1a;
    padding: 0.5rem 14.5rem .5rem 0;
}

.community_container_list ul li a{
        padding: 5px 20px 5px 0;
        margin: 0;
}


/* 다운메뉴 텍스트 리스트 호버 효과 */
.container_list ul li a,
.community_container_list ul li a,
.community_event_list ul li a{
    position: relative;
}

.container_list ul li a::after{
    content: '';
    width: .3rem;
    height: .3rem;
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    border-radius: 50%;
    background: rgb(194, 0, 0);
    transition: 300ms;
    opacity: 0;
}

.community_container_list ul li a::after,
.community_event_list ul li a::after{
    content: '';
    width: .3rem;
    height: .3rem;
    position: absolute;
    top: .5rem;
    right: 1rem;
    border-radius: 50%;
    background: rgb(194, 0, 0);
    transition: 300ms;
    opacity: 0;
}

.container_list ul li a:hover::after,
.community_container_list ul li a:hover::after,
.community_event_list ul li a:hover::after{
    transform: translate(10px , -6px);
    opacity: 1;
}




/*  --- 커뮤니티 디테일 메뉴 내 이벤트 부분 리스트  ----*/
.community_event_list{
    display: flex;
    align-items: center;  
}

.community_event_list ul{
    position: absolute;
    right:  5.5rem;
    top:6rem;
}

.community_event_list ul li{
    border-left: 1px solid #e5e5e5;
    padding: 0.25rem 1rem 0.25rem 2rem;
    
}

.community_event_list ul li a{
    padding: 0.25rem 1rem 0.25rem 1rem;
    margin: 0;
    color: #828282;
}



/* 다운네비 이미지 부분 */
.container_image{
    display: flex;
    padding: 1.25rem 0 3.5rem 0;
}

.container_image a {
    position: relative;
    width: 10rem;
    height: 14.5rem;
    padding: 0 0 0 0;
    margin: 0 1.75rem 0 0; 
}

.container_image a img {
    width: 10rem;
    height: 14.5rem;
    object-fit: cover;
}
  /* --다운네비 이미지 호버--   */
.image_description{
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
    height: 14.5rem;
    background: #00000070;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: 300ms;
}

.container_image a:hover .image_description {
    opacity: 1;
}


/* -------------------헤더 오른쪽----------------------------- */
.right_header {
    position: relative;
}

.right_header ul{
    height: 100%;
}

.right_header ul li{
    display: inline-block;
    padding: 1.6rem 1.25rem 1.25rem 1.25rem;
}

.white_icon{
     position: relative;
}

.hidden_button ul{
    position: absolute;
    right: 12.75rem;
    top: 4.5rem;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    border-top: 1px solid #808080;
    transition: 300ms;
}
.hidden_button ul li {
    width: 3.9rem;
    margin: auto;
    padding: 0.4rem 0 0.4rem 0 ;
    text-align: center;
}
.hidden_button ul li a{
    font-size: .6rem;
}


.black_icon{
    position: absolute;
    top: 0px; 
    opacity: 0;
}
header:hover .black_icon{
    opacity: 1;
}


.right_header ul li:hover  .hidden_button ul{
    opacity: 1;
    visibility: visible;
}

.right_header ul li img{
    height: 1.4rem;
    width: 1.4rem;
}

/*-----------------  헤더 스크롤시 고정   -----------------*/
header.scrolled{
    background-color: white;
}
header.scrolled .logo_red,
header.scrolled .black_icon {
    opacity: 1;
}
header.scrolled .logo_white {
    opacity: 0;
}
header.scrolled .top_menu h1{
    color: black;
}


/***************************        헤더 끝 */  


/* ***********************    배너 시작              ****************** */

#banner_wrapper{
    max-height: 880px;
    max-width: 1903px;
    min-width: 1260px;
    min-height: 554px;
    width: 100%;
    height: 46.24vw ;
    /* 높이가 안에 것들을 측정해 자동으로 왜 하지 못할까? */
    position: relative;
    margin: 0 auto;
}

#banner_wrapper a{
    max-width: 100%;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;

}
/*   이미지      */
.image{
        max-width: 100%;
        width: 100%;
        height: 100%;
        top:0;
        position: absolute;
        transition: 500ms ease-out;
} 

/*    좌우버튼   */
.next_arrow{
    color: #ffffff20;
    position: absolute;
    top: 45%;
    right: .9rem;
    font-size: 3rem;
    z-index: 1;
    transition: all 300ms;
}

.prev_arrow{
    color: #ffffff20;
    position: absolute;
    top: 45%;
    left: .9rem;
    font-size: 3rem;
    z-index: 1;
    transition: all 300ms;
}


.next_arrow:hover , .prev_arrow:hover{
    color: #ffffff80;
}

/*   하단 뱃지 버튼   */
.btns_container{
    position:absolute;
    display: flex;
    justify-content: center;
    bottom:1.5rem;
    width: 100%;
    height: 12px;  
}

.badge_btn{
    height: 12px;
    width: 12px;
    background-color: #ffffff20;
    margin: 0 4px;
    border-radius: 50%;
    transition: all 300ms;
}

.badge_btn.checked{
    background-color: #ffffff80; 
}

.badge_btn:hover{
    background-color: #ffffff80;
}
/********************       배너 끝              ********************/

/*********************       new 섹션 시작           ***********************/

#new{
     min-width: 61.25rem;
     margin: 4rem auto;
     position: relative;
}
/*  -----------   화살표 시작   --------------  */    
.next_arrow.new , .prev_arrow.new{
    color: rgb(226, 226, 226);
} 

.next_arrow.new:hover , .prev_arrow.new:hover{
    color: rgb(129, 129, 129);
}
/*  -----------   화살표 end   --------------  */    
.slide_display{
    max-width: 1720px;
    width: 90%;
    margin: auto;
    overflow: hidden;
    font-size: 0;
}

.new_lists {
    display: flex;
    justify-content: start;
    width: 175%;
    transition: 1s;
}

.new_list{
    width: 23%;
    margin: 0 10px 100px 10px;
    display: inline-block;    
}

.image_info{
    position: relative;
    background-color: #000000;
}

.image_container{
    display: block;
    max-width: 414px;
    max-height: 612px;
}

.image_cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #ffffff50;
    opacity: 0;
}

.image_cover_info{
    position: absolute;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    transform: translateY(10px);
}

.image_info:hover .image_cover,
.image_info:hover .image_cover_info{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.cover_icon{
    cursor:pointer;
}

.new_size_color{
    position: absolute;
    top: calc(100% + 15px);
    right: -15px;
    border: 1px solid rgb(167, 167, 167);
    padding: 16px;
    background-color: #ffffff;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 500ms;
    transform: translateY(20px);
}

.new_size_color.open_list{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}


.new_size_color li{
    position: relative;
    font-size: 14px;
    width: 220px;
    text-align: start;
    padding: 5px;
}

.new_size_color li::after{
    content: "";
    background-color: rgb(167, 167, 167);
    position: absolute;
    bottom: 1px;
    right: 0;
    width: 100%;
    height: 1px;
}


.product_img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.product_information{
    font-size: 15px;
    position: relative;
    margin: .7rem 0 0 0;
}

.icon, .icon_red{
    position: absolute;
    right: 0px;
    top: 1px;
    z-index: -1;
}

.icon_red{
    opacity: 0;
}

.product_information span{
    font-size: .75rem;
    font-weight: 600;
}

.product_information h3{
    padding: .4rem 0;
    font-size: 25px;
}

.product_information p{
    font-size: 13px;
    padding: .5rem 0 0 0;
    color: #a3a3a3;
}


/**************        new 섹션 끝         *************************/